  <div class="ui attached stackable menu">
    <div class="ui container">
    <div class="right menu">
      <a class="item">
        <i class="code icon"></i>&nbsp;with&nbsp;&nbsp;<i class="keyboard outline icon"></i>&nbsp;by Miroslaw Dubaj
      </a>
    </div>  
    </div>
  </div>
</body>
